@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-container{
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 0 1rem 2rem 1rem;
    width: 90%;
    height: 90vh;
    position: relative;
}

.sidebar-container{
    position: relative;
    border-right: 1px solid rgb(199, 199, 199);
    padding: 0 2rem 0 0;
    height: 100%;
    width: 30%;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar-container.active{
    display: none;
}

.main-container{
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.main-container-heading{
    display: flex;
    background-color: #ccc;
    padding: 1rem 1rem 1rem 1rem;
    align-items: center;
    gap: 2rem;
}

.main-container p{
    padding-left: 25px;
}

.drawer--hero{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    position: sticky;
}

.hero__subtitle{
    color: rgb(136, 135, 135);
}

.drawer--nav{
    display: flex;
    flex-direction: column;
    list-style: none;
    border-bottom: 1px solid rgb(199, 199, 199);
    margin-bottom: 1rem;
}

.nav-child{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px;
    gap: 3rem;
    margin-bottom: 2px;
    font-size: 1.1rem;
    color:rgb(82, 81, 81);
    border-radius: 5px;
    cursor: pointer;
}

.nav-child:hover{
    background-color: rgb(230, 230, 230);
    color: black;
}

.section-title{
    color:rgb(136, 135, 135);
}

.drawer--nav-2{
    display: flex;
    flex-direction: column;
    list-style: none;
    border-bottom: 1px solid rgb(199, 199, 199);
}

.drawer--nav-3{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 1rem;
}

.toggle{
    padding: 5px 10px;
}

.toggle:hover{
    background: rgb(177, 177, 177);
    border-radius: 50%;
}